html,body{
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    
}
p{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
h2,h3,h4,h5,h6{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
header nav .nav-items li a{
    color: #fff;
} 
header{
    background-color: #71A5D6;
}
.herosection{
    padding-top: 100px;
    min-height: 700px;
    
}
.herosection h6{
    color: #fff;
    font-weight: 600;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.151);

}
.herosection p{
    color: #fff;
}
.case-title{
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.315);
}

.para-text{
    font-size: 20px;
    max-width: 550px;
}

.client-panel{
    padding-left: 150px;
}

.process{
    padding-top: 80px;
}
.card{
    box-shadow: none;
}
.stage .image{
    max-width: 300px;
}

.research, .sitemap{
    padding-top: 100px;
}

.wireframing, .visualdesigning, .testing{
    padding-top: 100px;
}

.wireframe-images{
    padding-top: 40px;
}

.btn{
    padding: 8px;
    height: fit-content;
    box-shadow: none;
    border: #90C2F1 solid 2px;
    color: #90C2F1;
    background-color: white;
    border-radius: 6px;
}
.btn:hover, .contact .btn-large:hover{
    background-color: #90C2F1;
    color: white;
}
.testing-plan{
    padding-top: 30px;
}

.reviews-wrapper{
    background-image: url(../images/madhi/rreviewsbg.png);
    background-size: cover;
}
.reviews{
    height: 700px;
}
.sharell-wrapper{
    background: url(../images/madhi/sharellbg.png);
    background-size: cover;
    min-height: 500px;
}
.sharell-wrapper p{
    font-size: 20px;
    max-width: 450px;
}
.reviews h5{
    font-weight: 350 !important;
    line-height: 55px;
    font-family: 'Playfair Display', serif !important;
}
.contact{
    background-image: url(../images/madhi/contactbg.png);
    background-size: cover;
    height:800px;
}
.contact h1{
    font-family: 'Playfair Display', serif !important;
    font-weight: 700;
}
.contact .btn-large{
    padding: 8px;
    width: 200px;
    height: fit-content;
    box-shadow: none;
    border: #90C2F1 solid 2px;
    color: #90C2F1;
    background-color: white;
    border-radius: 10px;

}
.sharell-wrapper .btn{
    padding: 8px;
    height: fit-content;
    box-shadow: none;
    border: #fff solid 2px;
    color: #fff;
    background-color: transparent;
    border-radius: 6px;
}
.sharell-wrapper .btn:hover{
    padding: 8px;
    height: fit-content;
    box-shadow: none;
    border: #fff solid 2px;
    color: #343670;
    background-color: #fff;
    border-radius: 6px;
}

input[type=email]:not(.browser-default),input[type=password]:not(.browser-default){
    border-bottom: #fff 1px solid;
  }
  textarea.materialize-textarea:not(.browser-default){
    border-bottom: #fff 1px solid;
    height: 100px;
  }
  input[type=text]:not(.browser-default){
    border-bottom: #fff 1px solid;
  }
  
  
  
  input[type=email]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]){
    border-bottom: #fff 1px solid;
    box-shadow: none;
  }
  textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: #fff 1px solid;
    box-shadow: none;
  }
  input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: #fff 1px solid;
    box-shadow: none;
  }
  
  input[type=email]:not(.browser-default):focus:not([readonly]) + label{
    color: #fff;
  }
  textarea.materialize-textarea:not(.browser-default):focus:not([readonly]) + label{
    color: #fff;
  }
  input[type=text]:not(.browser-default):focus:not([readonly]) + label{
    color: #fff;
  }



@media screen and (max-width: 820px){
    .client-panel{
        padding-left: auto;
    }
    .sharell-wrapper{
        padding-left: 5%;
        padding-right: 5%;
    }
    .sharell-wrapper p{
        max-width: 350px;
    }
    p{
        font-size: 16px;
    }
    h6{
        font-size: 17px ;
    }
    h5{
        font-size: 20px;
    }
    h4{
        font-size: 21px;
    }
    h3{
        font-size: 23px;
    }
    h2{
        font-size: 25px;
    }
    h1{
        font-size: 28px;
    }
    .requirements, .sitemap-diagram{
        padding-top: 40px;
    }
    .testing-plan img{
        padding-top: 50px;
    }
    .reviews h5{
        line-height: 30px;
    }
    .reviews-wrapper{
        background: none;
    }
    .contact{
        background-image: url(../images/madhi/contactbg-m.png);
        background-size: cover;
        height:800px;
    }
}